$color-grey-light: #F2F2F2;
$color-grey-extra-light: rgba($color-grey-light, .5);
$color-grey-medium: #999;
$color-grey-medium-dark: #777;
$color-grey-dark: #333;
$color-white: #fff;
$color-blue-dark: #306ee5;
$color-blue--medium-dark: #2F6CE5;
$color-green:#008A45;
$color-pink-light: #FF5C5C;
$color-pink-dark: #F0568A;
